@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: hsl(210, 10%, 10%);
    color: hsl(210, 50%, 90%);
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.digital-clock{
    background-color: hsl(210, 20%, 20%);
    border-radius: 0.1em;
    font-size: 12vmin;
    line-height: 1.5em;
    padding: 0em 0.25em;
    animation: text-color 60s ease infinite alternate;
    font-weight: 300;
    position: relative;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}

.digital-clock:hover{
    transform: translateY(-1vmin);
}

.digital-clock::after{
    content: "";
    width: 2em;
    height: 1vmin;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: hsl(210, 20%, 20%);
}

@keyframes text-color {
    0%{
        --color: hsl(0, 100%, 80%);
        color: var(--color);
    }

    25%{
        --color: hsl(90, 100%, 80%);
        color: var(--color);
    }

    50%{
        --color: hsl(180, 100%, 80%);
        color: var(--color);
    }

    75%{
        --color: hsl(270, 100%, 80%);
        color: var(--color);
    }

    100%{
        --color: hsl(360, 100%, 80%);
        color: var(--color);
    }
}